{% load tags %}

<div class="panel panel-default">
    <div class="pane panel-heading"><h4>Narrow your search</h4></div>

{% for facet, values in content.facets.items %}

    {% if facet == 'type' %}
        {% if values|length > 1 %}

        <h4><span class="glyphicon glyphicon-filter"></span> Filter by type</h4>
        <ul>
            {% for name, count in values %}
                <li><a class="facet-link" href="#" data-facet-name="{{ facet }}" data-facet-value="{{ name }}">{{ name|capfirst }} </a> ({{ count }})</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endif %}


    {% if facet == 'source_title' %}
        {% if values|length > 1 %}
        <h4><span class="glyphicon glyphicon-book"></span>  Filter by source title</h4>
        <ul>
            {% for name, count in values %}
                <li><a class="facet-link" href="#" data-facet-name="{{ facet }}" data-facet-value="{{ name }}">{{ name }} </a> ({{ count }})</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endif %}

<!--     {% if facet == 'short_title' %}
        <h3>Filter sources</h3>
        {% if values|length > 1 %}
        <ul>
            {% for name, count in values %}
                <li><a class="facet-link" href="#" data-facet-name="{{ facet }}" data-facet-value="{{ name|ampersand }}">{{ name }} </a> ({{ count }})</li>
            {% endfor %}
        </ul>
        {% elif values|length == 1 %}
        <p>Your search only returned only results belonging to the same source </p>
        {% else %}
        <p>No sources found amongst your results</p>
        {% endif %}
    {% endif %}
 -->
    {% if facet == 'source_author' %}
        {% if values|length > 1 %}
        <h4><span class="glyphicon glyphicon-user"></span>  Filter by source author</h4>

        <ul>
            {% for name, count in values %}
                <li><a class="facet-link" href="#" data-facet-name="{{ facet }}" data-facet-value="{{ name|ampersand }}">{{ name }} </a> ({{ count }})</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endif %}

<!--     {% if facet == 'surname' %}
        <h3>Filter by author</h3>
        {% if values|length > 1 %}
        <ul>
            {% for name, count in values %}
                <li><a class="facet-link" href="#" data-facet-name="{{ facet }}" data-facet-value="{{ name }}">{{ name }} </a> ({{ count }})</li>
            {% endfor %}
        </ul>
        {% elif values|length == 1 %}
        <p>Your search returned only results belonging to the same author</p>
        {% else %}
        <p>No authors found amongst your results</p>
        {% endif %}
    {% endif %} -->

{% endfor %}
</div>