{% load tags %}
{% load staticfiles %}

        <h4>Search within the results</h4>



    <form role = "form" id="filter" data-facet-offset="{{ content.params.start }}" data-facet-limit="{{ content.limit }}" action="/fiddle/search/" method="get">
        {% if request.GET.q == '*' %}
        <input type="hidden" name="q" value="*" />
        {% endif %}
    <div class="input-group">
        <input type="text" name="fq" id="fq" class="form-control" placeholder="Filter for...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Go!</button>
        </span>
    </div>
    </form>

    <br />


{% for facet, values in content.facets.items %}

    {% if facet == 'source_title' %}
        {% if values|length > 1 %}
        <h4><i class="fa fa-book fa-fw"></i>&nbsp; Filter by source title</h4>
        <ul>
            {% for name, count in values %}
                <li><a class="facet-link" href="#" data-facet-name="{{ facet }}" data-facet-value="{{ name|urlencode|iriencode }}" data-facet-offset="{{ content.params.start }}" data-facet-limit="{{ content.limit }}">{{ name }} </a> ({{ count }})</li>
            {% endfor %}
        </ul>
        {% endif %}

    {% elif facet == 'tune_author' and 'source_author' %}

        {% if values|length > 1 %}
        <h4><i class="fa fa-user"></i>&nbsp; Filter by source author (in all the sources)</h4>

        <ul>
            {% for name, count in values %}
                <li><a class="facet-link" href="#" data-facet-name="{{ facet }}" data-facet-value="{{ name|urlencode|iriencode }}" data-facet-offset="{{ content.params.start }}" data-facet-limit="{{ content.limit }}">{{ name }} </a> ({{ count }})</span></li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endif %}


{% endfor %}
</div>