{% extends "base.html" %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h2>Search</h2>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form role = "form" id="search-form" action="/search" method="get">
                <div class="form-group">
                    <input type="text" name="q" id="search-input" class="form-control" placeholder="Search for...">
<!--                                     <label class="checkbox"> -->
<!--                 <li><input type="checkbox" id="1" name="t" value="tune" />Tune</label></li>
                <li><input type="checkbox" id="2" name="a" value="author" />Author</label></li>
                <li><input type="checkbox" id="3" name="s" value="source" />Tune</label></li> -->
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </form>
            <p>Search for "*" to see the entire collection</p>
        </div>
    </div>
    <div class="row">
    <div class="col-md-8">
        {% if content.results %}
            <div>
                <hr />
            <h3>Results</h3>
            <p>{{ content.count }} result{{ content.count|pluralize }} found for "{{ content.params.q }}" in {{ content.params.fq }}</p>

            {% include "search/search_results.html" %}

            </div>
        </div>
        <div class="col-md-4">

        {% include "search/faceting.html" %}

        </div>
    </div>
        {% else %}
                <h5>No results found</h5>
        {% endif %}

            <nav>
                <ul class="pager">
                    <li class="previous {% if not content.previous %}disabled{% endif %}"><a href="{{ content.previous }}"><span aria-hidden="true">&larr;</span> Previous </a></li>
                    <li class="next {% if not content.next %}disabled{% endif %}"><a href="{{ content.next }}"><span aria-hidden="true">&rarr;</span> Next </a></li>
                </ul>
            </nav>
    </div>
    </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    // this code manages what happens when a facet link is clicked.
    $(".facet-link").on('click', function(event)
    {
        var qstr = window.location.search.replace("?", "");
        var qstr_params = $.parseParams(qstr);
        var facetName = $(this).data('facet-name');
        var facetValue = $(this).data('facet-value');
        if (!(facetName in qstr_params))
        {
            var facetQ = facetName + "=" + facetValue;
            if (qstr != "")
            {
                // this makes sure that we either append the
                // querystring to an existing query string
                // (with a "&") or we just append it to the
                // existing URL.
                facetQ = "&" + facetQ;
            }
            window.location.search = qstr + facetQ;
        }
        event.preventDefault();
    });
</script>
{% endblock %}