{% extends "base.html" %}
{% load tags %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1" >
            <h1>Search the HMS database</h1>
            <br />
            <br />
        </div>
    </div><!--class="row"-->

<div class="row">

<div class="col-md-6 col-md-offset-1">
    <form role = "form" var="search-form" action="/fiddle/search" method="get">
    <div class="input-group">
        <input type="text" name="q" var="search-input" class="form-control" placeholder="New search...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Go!</button>
        </span>
    </div>
    </form>


{% if request.GET.q %}

<br />

    <h4 class="text-center">

    {% if request.GET.fq|length != 0 %}
        {% if content.count > 10 %}
        {{ content.count }} filtered result{{ content.count|pluralize }} found<br /><a class="h5" href="/fiddle/search/?q={{ request.GET.q }}">[Reset filters]</a><br /><br />
        {% else %}
            {{ content.count }} result{{ content.count|pluralize }} found<br /><br />
        {% endif %}

    {% else %}
        {% if  content.count > 10 %}
        {{ content.count }} result{{ content.count|pluralize }} found<br /><br />
        {% else %}
        {{ content.count }} result{{ content.count|pluralize }} found<br /><br />
        {% endif %}
    {% endif %}



{% for facet, values in content.facets.items %}

    {% if facet == 'type' %}

        {% if values|length > 1 %}

            {% for name, count in values %}
                <button class="btn btn-primary facet-link" href="#" data-facet-name="{{ facet }}" data-facet-value="{{ name }}" data-facet-offset="{{ content.params.start }}" facet-limit="{{ content.limit }}">{{ name|capfirst }} </a> <span class="badge"> {{ count }}</span></button>
            {% endfor %}

        {% endif %}

    {% endif %}

{% endfor %}

    </h4>
    <br />
    <div class="col-md-12" id="searchResults">
    {% include "search/search_results.html" %}

    <nav>
        <ul class="pager">
            <li class="previous {% if content.previous == None %}disabled{% endif %}"><a href="{{ content.previous }}"><span aria-hidden="true">&larr;</span> Previous </a></li>
            <li class="next {% if content.next == None %}disabled{% endif %}"><a href="{{ content.next }}"><span aria-hidden="true">&rarr;</span> Next </a></li>
        </ul>
    </nav>

</div>
</div> <!--col-md-6-->
    
    {% if content.count %}

    <div class="col-md-4" id="facets">

        {% include "search/faceting.html" %}

    </div> <!--col-md-4-->

    {% endif %}
</div> <!-- row -->
</div>

{% else %}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
</div>
</div>
</div>

{% endif %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    // this code manages what happens when a facet link is clicked.
    $(".facet-link").on('click', function(e)
    {
        var facetOffset = $(this).data('facet-offset');
        var facetLimit = $(this).data('facet-limit');
        var qstr = window.location.search.replace("?limit=" + facetLimit + "&offset=" + facetOffset, "");
        var qstr = window.location.search.replace("&limit=" + facetLimit + "&offset=" + facetOffset, "");
        var qstr_params = $.parseParams(qstr); 
        var facetName = $(this).data('facet-name');
        var facetValue = $(this).data('facet-value');

        if (!(facetName in qstr_params))
        {
            var facetQ = facetName + "=" + facetValue;
            if (qstr != "")
            {
                // this makes sure that we either append the
                // querystring to an existing query string
                // (with a "&") or we just append it to the
                // existing URL.
                facetQ = "&" + facetQ;
            }
            window.location.search = qstr + facetQ;
        }
        e.preventDefault();
    });
</script>
<script type="text/javascript">

    sessionStorage.setItem('gotoPage', null);

    $(".tune-page-link").click(function() {
        var pageNum = $(this).data('page');
        sessionStorage.gotoPage = pageNum;
        });

</script>
{% endblock %}