/*body { padding-left: 100px; padding-right: 100px; padding-top: 20px; padding-bottom: 50px;}
*/
svg:not(:root) {
  overflow: inherit; 
}

.center { text-align: center; } 

span.icon {
  font-family: 'Glyphicons Halflings';
}

.disabled { pointer-events: none; }

.diva-outer {

height: 800px;

}

.search_form {
    color: #959595;
    font-size: 12px;
    font-weight: 700;
    left: 15px;
    letter-spacing: 1px;
    top: 15px;