body { 

    font-family:"Open Sans",sans-serif;
    color:#333; font-size:14px;
    margin:0;
    padding:0;
    width:100%;
    background:#f7f6f2;
    letter-spacing: .1px;
    overflow-x:hidden;
    overflow-y:scroll;
    line-height:1.428571429;
    overflow-x: hidden;

}

.hmshome {

    margin-bottom: 30;
    margin-top: 140px;
}

}

#fiddlehome {

    margin-top: 50px;
    opacity: 0.6;
    margin-bottom: 60px;

}

a.sigla.collapsed:before
{
    content:'[Show legend]' ;
    cursor: -moz-zoom-in;
}

a.sigla:before
{
    content:'[Hide legend]' ;
    cursor: -moz-zoom-out;
}


#sigla {

    background: #ddd;
    margin-left: 5%;
    margin-right: 45%;

}

.row {
    margin-left:0;
    margin-right:0;
}

.container-fluidit {

    margin-left: 9%;
    margin-right: 9%;
    margin-bottom: 30px;

}
.row .sp {
   min-height:170px;
   margin-bottom:10px;
   border-bottom:3px #eee solid;
}

.editor {
   border-right:3px #eee solid;
}

.pane-label {
  position: absolute;
  z-index: 99;
  padding: 0;
  font-size: 80%;
  opacity: .4;
  right: 15px;
  bottom: 15px;
  margin: 0;
}

@media (max-width: 939px) { 

    .row .sp {
        width:48.62% !important;
    
    }

}

@media (max-width: 767px) { 

    .row .sp {
        width:100% !important;
        height:auto !important;
    }

}

@media (max-width: 1200px) { 
    .row .sp {
        width:49.62% !important;

    }
}

@media (max-width: 767px) { 

    .row .sp {
        width:100% !important;
        height:auto !important;
    }

}

.cont {

    width:100%;

}


.inner {
    overflow-y:auto;
    overflow-x:hidden;
    height:100%;
}


.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }



#sidebar {
       width: 49%;
}

#dyncontent {

    width: 100%;
    float: left;

}

.back-to-top {
    position: fixed;
    bottom: 19em;
    right: 30px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 13px;
    padding: 1em;
    display: none;
    z-index: 1000;
}

.back-to-top:hover {    
    background-color: rgba(135, 135, 135, 0.50);
}

.dropdown-menu {

    min-width: 60px;
}

.navbar-toggle .icon-bar {
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}

@media (min-width: 768px) {

    .navbar-toggle {
        display: none;

    }

    .bottom-align-text {
        margin-top: 10%;
        right: 0;
  }
}

.navbar-nav {
    margin: 7.5px -15px;
}

.navbar-nav > li > a {
    line-height: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
        background-color: transparent;
        border: 0 none;
        box-shadow: none;
        float: none;
        margin-top: 0;
        position: static;
        width: auto;
    }   

    .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu > li > a {
        padding: 5px 15px 5px 25px;
    }

    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 20px;
    }
    .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-nav .open .dropdown-menu > li > a:hover {
        background-image: none;
    }
}

@media (min-width: 768px) {
    .navbar-nav {
        float: left;
        margin: 0;
    }
    .navbar-nav > li {
        float: left;
    }
    .navbar-nav > li > a {
        padding-bottom: 15px;
        padding-top: 15px;
    }
}

.navbar-form {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.1);
    margin: 8px -15px;
    padding: 10px 15px;
}

@media (min-width: 768px) {
    .navbar-form .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }

    .navbar-form .form-control {
        display: inline-block;
        vertical-align: middle;
        width: auto;
    }

    .navbar-form .form-control-static {
        display: inline-block;
    }

    .navbar-form .input-group {
        display: inline-table;
        vertical-align: middle;
    }

    .navbar-form .input-group .form-control, .navbar-form .input-group .input-group-addon, .navbar-form .input-group .input-group-btn {
        width: auto;
    }

    .navbar-form .input-group > .form-control {
        width: 100%;
    }

    .navbar-form .control-label {
        margin-bottom: 0;
        vertical-align: middle;
    }

    .navbar-form .checkbox, .navbar-form .radio {
        display: inline-block;
        margin-bottom: 0;
        margin-top: 0;
        vertical-align: middle;
    }

    .navbar-form .checkbox label, .navbar-form .radio label {
        padding-left: 0;
    }

    .navbar-form .checkbox input[type="checkbox"], .navbar-form .radio input[type="radio"] {
        margin-left: 0;
        position: relative;
    }

    .navbar-form .has-feedback .form-control-feedback {
        top: 0;
    }
}

@media (max-width: 767px) {
    .navbar-form .form-group {
        margin-bottom: 5px;
    }

    .navbar-form .form-group:last-child {
        margin-bottom: 0;
    }
}

@media (min-width: 768px) {

    .navbar-form {
        border: 0 none;
        box-shadow: none;
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 0;
        padding-top: 0;
        width: auto;
    }
}

.navbar-nav > li > .dropdown-menu {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0;
}

.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
    border-radius: 4px 4px 0 0;
    margin-bottom: 0;
}
.navbar-btn {
    margin-bottom: 8px;
    margin-top: 8px;
}
.navbar-btn.btn-sm {
    margin-bottom: 10px;
    margin-top: 10px;
}
.navbar-btn.btn-xs {
    margin-bottom: 14px;
    margin-top: 14px;
}
.navbar-text {
    margin-bottom: 15px;
    margin-top: 15px;
}

@media (min-width: 768px) {
    .navbar-text {
        float: left;
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (min-width: 768px) {
    .navbar-left {
        float: left !important;
    }
    .navbar-right {
        float: right !important;
        margin-right: -15px;
    }
    .navbar-right ~ .navbar-right {
        margin-right: 0;
    }
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.navbar-default .navbar-brand {
    color: #777;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    background-color: transparent;
    color: #5e5e5e;
}

.navbar-default .navbar-text {
    color: #777;
}

.navbar-default .navbar-nav > li > a {
    color: #777;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    background-color: transparent;
    color: #333;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: #e7e7e7;
    color: #555;
}

.navbar-default .navbar-nav > .disabled > a, .navbar-default .navbar-nav > .disabled > a:focus, .navbar-default .navbar-nav > .disabled > a:hover {
    background-color: transparent;
    color: #ccc;
}

.navbar-default .navbar-toggle {
    border-color: #ddd;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #ddd;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: #e7e7e7;
    color: #555;
}

@media (max-width: 767px) {

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
        background-color: transparent;
        color: #333;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover {
        background-color: #e7e7e7;
        color: #555;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover {
        background-color: transparent;
        color: #ccc;
    }
}

.navbar-default .navbar-link {
    color: #777;
}

.navbar-default .navbar-link:hover {
    color: #333;
}

.navbar-default .btn-link {
    color: #777;
}

.navbar-default .btn-link:focus, .navbar-default .btn-link:hover {
    color: #333;
}

.navbar-default .btn-link[disabled]:focus, .navbar-default .btn-link[disabled]:hover, fieldset[disabled] .navbar-default .btn-link:focus, fieldset[disabled] .navbar-default .btn-link:hover {
    color: #ccc;
}

.navbar-inverse {
    background-color: #222;
    border-color: #080808;
}

.navbar-inverse .navbar-brand {
    color: #9d9d9d;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    background-color: transparent;
    color: #fff;
}

.navbar-inverse .navbar-text {
    color: #9d9d9d;
}

.navbar-inverse .navbar-nav > li > a {
    color: #9d9d9d;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    background-color: transparent;
    color: #fff;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #080808;
    color: #fff;
}

.navbar-inverse .navbar-nav > .disabled > a, .navbar-inverse .navbar-nav > .disabled > a:focus, .navbar-inverse .navbar-nav > .disabled > a:hover {
    background-color: transparent;
    color: #444;
}

.navbar-inverse .navbar-toggle {
    border-color: #333;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #333;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    background-color: #080808;
    color: #fff;
}

@media (max-width: 767px) {

    .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #080808;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color: #080808;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #9d9d9d;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
        background-color: transparent;
        color: #fff;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover {
        background-color: #080808;
        color: #fff;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover {
        background-color: transparent;
        color: #444;
    }
}

.navbar-inverse .navbar-link {
    color: #9d9d9d;
}

.navbar-inverse .navbar-link:hover {
    color: #fff;
}

.navbar-inverse .btn-link {
    color: #9d9d9d;
}

.navbar-inverse .btn-link:focus, .navbar-inverse .btn-link:hover {
    color: #fff;
}
.navbar-inverse .btn-link[disabled]:focus, .navbar-inverse .btn-link[disabled]:hover, fieldset[disabled] .navbar-inverse .btn-link:focus, fieldset[disabled] .navbar-inverse .btn-link:hover {
    color: #444;
}

svg:not(:root) {
  overflow: inherit; 
}

#nav {
    border-radius: 5px;
    min-height: 30px;
}

.search-title {
    background-color: #eee;

}

.disabled { pointer-events: none; }

.diva-outer {

height: 800px;

}

.header {
    background-color: #333;
    border-color: #080808;
    color:#ccc;
    text-align:center;
    height: 40px;
}

.footer {
    background-color: #333;
    border-color: #080808;
    color:#ccc;
    text-align:center;
}


.search_form {
    color: #959595;
    font-size: 12px;
    font-weight: 700;
    left: 15px;
    letter-spacing: 1px;
    top: 15px;
}

#banner {

    margin-left: 120px;

}

#searchResults h4 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 10px;
    margin-left: 15px;
}

#searchResults p {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 10px;
    margin-left: 15px;
}

#searchResults {
    border: 2px solid #92c2e8;
    border-radius: 4px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
    color: #224a68;
    float: left;
    margin-top: 0;
    margin-bottom: 50px;
    padding: 10px;
    background-color: #eee;
}


#facets {
    border: 2px solid #92c2e8;
    border-radius: 4px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
    color: #224a68;
    float: left;
    margin-top: 0;
    margin-bottom: 50px;
    padding: 10px;
    background-color: #eee;
}
  
.ui-resizable-helper { border: 1px dotted gray; }
.ui-resizable-handle {
    border-left: 1px ridge;
    cursor: col-resize;
}
    
.ui-resizable-s {
	visibility: hidden;
}

#itemDetails {
    border: 2px solid #92c2e8;
    border-radius: 4px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
    float: none;
    margin-top: 0;
    padding: 30px;
    background-color: rgba(230, 230, 230, 0.6);
}

#resultTune {

    margin-left: 43px;
    padding: 0px;
    background-color: #eee;
}

#highlighting_tune {
    margin-left: 58px !important;
    margin-right: 40px !important;
}

#highlighting_tune em {
    background-color: #DAA520;

}

#highlighting_author {
    margin-left: 68px !important;
    margin-right: 40px !important;
    margin-top: -30px;

}

#highlighting_author em {
    background-color: #DAA520;

}

#highlighting_source {
    margin-left: 65px !important;
    margin-right: 40px !important;
}

#highlighting_source em {
    background-color: #DAA520;

}

#highlighting_copy {
    margin-left: 102px !important;
    margin-right: 40px !important;
}

#highlighting_copy em {
    background-color: #DAA520;

}