body { padding-left: 100px; padding-right: 100px; padding-top: 20px; padding-bottom: 50px;}

svg:not(:root) {
  overflow: inherit; 
}

.center { text-align: center; } 

span.icon {
  font-family: 'Glyphicons Halflings';
}
