/*body { padding-left: 100px; padding-right: 100px; padding-top: 20px; padding-bottom: 50px;}
*/

svg:not(:root) {
  overflow: inherit; 
}

.center { text-align: center; } 

.search-title {
    background-color: #eee;

}

.disabled { pointer-events: none; }

.diva-outer {

height: 800px;

}

.header {
    background-color: #333;
    border-color: #080808;
    color:#ccc;
    text-align:center;
    height: 40px;
}

a.head{ color: #ccc; } 

.footer {
    background-color: #333;
    border-color: #080808;
    color:#ccc;
    text-align:center;
}


.search_form {
    color: #959595;
    font-size: 12px;
    font-weight: 700;
    left: 15px;
    letter-spacing: 1px;
    top: 15px;