/*body { padding-left: 100px; padding-right: 100px; padding-top: 20px; padding-bottom: 50px;}
*/

svg:not(:root) {
  overflow: inherit; 
}

.center { text-align: center; } 

.search-title {
    background-color: #eee;

}

.disabled { pointer-events: none; }

.diva-outer {

height: 800px;

}

.header {
    background-color: #333;
    border-color: #080808;
    color:#ccc;
    text-align:center;
    height: 40px;
}

a.head{ color: #ccc; } 

.footer {
    background-color: #333;
    border-color: #080808;
    color:#ccc;
    text-align:center;
}


.search_form {
    color: #959595;
    font-size: 12px;
    font-weight: 700;
    left: 15px;
    letter-spacing: 1px;
    top: 15px;
}


#searchResults h4 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 10px;
    margin-left: 15px;
}

#searchResults p {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 10px;
    margin-left: 15px;
}

#searchResults {
    border: 2px solid #92c2e8;
    border-radius: 4px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
    color: #224a68;
    float: left;
    margin-top: 0;
    margin-bottom: 50px;
    padding: 10px;
    background-color: #eee;
}

#facets {
    border: 2px solid #92c2e8;
    border-radius: 4px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
    color: #224a68;
    float: left;
    margin-top: 0;
    margin-bottom: 50px;
    padding: 10px;
    background-color: #eee;
}

#itemDetails {
    border: 2px solid #92c2e8;
    border-radius: 4px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
    float: left;
    margin-top: 0;
    padding: 30px;
    background-color: #fff;
}

#resultTune {

    margin-left: 40px;
    padding: 0px;
    background-color: #eee;
}

#highlighting_tune {
    margin-left: 40px;
}

#highlighting_tune em {
    background-color: #DAA520;

}

#highlighting_author {

}

#highlighting_author em {
    background-color: #DAA520;

}

#highlighting_source {
    margin-left: 65px !important;
    margin-right: 40px !important;
}

#highlighting_source em {
    background-color: #DAA520;

}

#highlighting_copy {
    margin-left: 102px !important;
    margin-right: 40px !important;
}

#highlighting_copy em {
    background-color: #DAA520;

}