{% load staticfiles %}

<html>
    <head>
        <meta charset="utf-8">
        {% block title %}
            <title>Bass Culture | Home</title>
        {% endblock %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

<div class="container-fluid">

<br />
<br />


<div class="jumbotron">
    <h2 class="text-center">Welcome to the Historical Music of Scotland website</h2>
</div>

<p class="center"><img src="static/img/HMS_circle.png" style="width:20%;"></p>

    <div class="col-md-8 text-center col-md-offset-2"><h3>Phase one of the project is (almost) over! <p><small>Luca is currently fighting in IT-land. He'll be back soon.</small></p></h3>
    <br />
    <p>This is the holding page for <b>hms.scot</b> which will be an online resource for the <b><u>H</u>istorical <u>M</u>usic of <u>S</u>cotland</b>.<br />
 
    In October 2015 the first phase will be launched, presenting information on over 300 printed sources of Scottish fiddle music from before 1850.<br /> A selection of books from the collections of University of Glasgow and Perth’s AK Bell Library will be made available in full, digitised with searchable metadata.</p>
 
    <p>You can follow the progress of the project on our <a href="http://bassculture.info">blog</a>.</p>

    <a button type="button" class="btn btn-primary" href="/fiddle">
    Go to the fiddle website!
    </button></a>
    </div>
</div>

</div>
</html>
