{% load staticfiles %}

<html>
    <head>
        <meta charset="utf-8">
        {% block title %}
            <title>hms.scot</title>
        {% endblock %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

<div class="container-fluid">


<!-- <div class="jumbotron">
    <h2 class="text-center">Welcome to the Historical Music of Scotland website</h2>
</div>
 -->

<p class="text-center hmshome"><img src="static/img/HMS_circle.png" style="width:20%;"></p>

    <div class="col-md-8 text-center col-md-offset-2"><h3>Historical Music of Scotland - phase 1</h3>
    <p>Here at HMS.scot you can find the details of over 200 Scottish printed sources of fiddle music from before 1850<br>
    There also images and indexes of 22 whole books from the University of Glasgow and Perth's A K Bell Library.<br>
    Browse the collection, search for tunes and composers, and play the tunes!</p>
 
<p>And … please <a href="mailto:info@hms.scot">let us know</a>  how we can improve the site before our official launch in 2016. Enjoy!</p>
 
 
    <p>You can follow the progress of the project on our <a href="http://bassculture.info">blog</a>.</p>

    <a button type="button" class="btn btn-primary" href="/fiddle">
    Go to the fiddle website!
    </button></a>
    <br />
    </div>
</div>

</div>
</html>
