<nav class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">
      <div class="col-md-10 col-md-offset-1">
        <div class="navbar-header">
          <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/fiddle/" class="navbar-brand">HMS.scot</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar" aria-expanded="false" style="height: 1px;">
          <ul class="nav navbar-nav">
            <li><a href="/fiddle/copies" >Browse only digitised copies</a></li>
            <li><a href="/fiddle/authors" >Browse authors</a></li>
            <li class="dropdown">
              <a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">References <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/fiddle/references/bibliography">Bibliography</a></li>
                <li><a href="/fiddle/references/sigla">Sigla</a></li>
              </ul>
            </li>
            <li class="dropdown" style="cursor: not-allowed;">
              <a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle disabled" href="#">Resources <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Research papers</a></li>
                <li><a href="#">Publications</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--col-md -->
      </div>
    </nav>