{% extends "base.html" %}

{% block body %}
<div class="container-fluid">
    <div class="col-md-10 col-md-offset-1">

    {% block title %}
        <title>hms | sigla</title> 
    {% endblock %}

    <div class="page-header">
        <h1>Sigla</h1>
    </div>

<br />
<dl class="dl-horizontal">
                        <dt>GB-A</dt> <dd>Aberdeen University Library</dd>
                        <dt>GB-Bu</dt> <dd>Birmingham University Library</dt>
                        <dt>GB-Cu</dt> <dd>Cambridge University Library</dt>
                        <dt>GB-DUcl</dt> <dd>Dundee Central Library (Wighton Collection)</dd>
                        <dt>GB-En</dt> <dd>National Library of Scotland, Edinburgh</dd>
                        <dt>GB-Ep</dt> <dd>Edinburgh City Library</dd>
                        <dt>GB-Eu</dt> <dd>Edinburgh University Library</dd>
                        <dt>GB-Gm</dt> <dd>Mitchell Library, Glasgow</dd>
                        <dt>GB-Grc</dt> <dd>Royal Conservatoire of Scotland, Glasgow</dt>
                        <dt>GB-Gu</dt> <dd>University of Glasgow Library</dd>
                        <dt>GB-Lam</dt> <dd>Royal Academy of Music, London</dd>
                        <dt>GB-Lbl</dt> <dd>British Library, London</dd>
                        <dt>GB-Lcm</dt> <dd>Royal College of Music, London</dd>
                        <dt>GB-Lcs</dt> <dd>Vaughan Williams Memorial Library, Cecil Sharp House, London</dd>
                        <dt>GB-Mp</dt> <dd>Manchester Public Library</dd>
                        <dt>GB-Mr</dt> <dd>anchester University Library</dd>
                        <dt>GB-NTu</dt> <dd>Newcastle University Library</dd>
                        <dt>GB-Ob</dt> <dd>Bodleian Library, University of Oxford</dt>
                        <dt>GB-P</dt> <dd>A K Bell Library, Perth</dd>
                        <dt>GB-SA</dt> <dd>Saint Andrews University Library</dt>
                        <dt>GB-SHE</dt> <dd>Sheffield University Library</dd>
                        <dt>IRL-Dtc</dt> <dd>Trinity College Dublin</dd>
                    </dl>

<br />
<br />
<br />
</div>
</div>
{% endblock %}