{% extends "base.html" %}

{% block title %}
<title>hms | List of digitised copies</title>
{% endblock %}

{% block body %}

<div class="container-fluid">
<div class="col-md-10 col-md-offset-1">

<h1>List of digitised sources</h1>
<br />
<br />

    <table class="table">
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Date</th>
        <th>Edition</th>
    </tr>
    {% for item in content %}
    <tr>
        <td><a href="{{ item.url }}">{{ item.source_title }}</a></td>
        <td>{{ item.source_author }}</a></td>
        <td>{{ item.source_date }}</a></td>
        <td>{{ item.source_edition }}</a></td>
    </tr>
    {% endfor %}
    </table>
</div>
</div>

{% endblock %}