{% extends "base.html" %}

{% block title %}
<title>Bass Culture | {{ content.name }}</title>
{% endblock %}

{% block body %}

    <h2>{{ content.name }}</h2>
    <h3>Biographical info</h3>
        <p>
          {{ content.biographical_info }}
        </p>

    <h3>Sources authored by {{ content.name }}</h3>

    <table class="table">
    <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Edition</th>
    </tr>
    {% for sources in content.sources %}
    <tr>
        <td><a href="{{ sources.url }}">{{ sources.short_title }}</a></td>
        <td>{{ sources.date }}</td>
        <td>{{ sources.edition }}</td>
    </tr>
    {% endfor %}
    </table>

{% endblock %}