{% extends "base.html" %}

{% block title %}
<title>hms | {{ content.full_name }}</title>
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="col-md-10 col-md-offset-1">

    <h2>{{ content.full_name }}</h2>
    <h3>Biographical info</h3>
        <p>
          {{ content.biographical_info|safe }}
        </p>

    <h3>Sources authored by {{ content.full_name }}</h3>

    <table class="table table-striped table-hover">
    <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Edition</th>
    </tr>
    {% for sources in content.sources %}
    <tr>
        <td><a href="{{ sources.url }}">{{ sources.short_title }}</a></td>
        <td>{{ sources.date }}</td>
        <td>{{ sources.edition }}</td>
    </tr>
    {% endfor %}
    </table>

    <br />
</div>
</div>
{% endblock %}